// Functions
@use "sass:math";
@function rem($pixels) {
  @return math.div($pixels, 16) + rem;
}

// Normalize and Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Color Palette
$color-accent: #4d3efe;
$color-accent-alt: #fb225a;
$color-strongest-text: #030137;
$color-strong-text: #032074;
$color-medium-text: #514e7c;
$color-subtle-text: #66669a;
$color-borders: #66669a;
$color-background: #deddeb;
$color-light-background: #f0eff5;
$color-near-white: #f8f9fb;

// Typography
$font-header: "Poppins", sans-serifs;
$font-body: "Work Sans", sans-serifs;

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: $font-header;
}

p {
  font-family: $font-body;
}

.hero {
  &__header {
    font-size: rem(50);
    font-weight: 700;
    line-height: rem(60);
    font-family: $font-header;
  }

  p {
    // font-family: "Work Sans";
  }
}
