// contains page structure, containers and grid system
@import "./variables_mixins_functions";

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $navbar-height auto;
  grid-template-areas:
    "header"
    "hero"
    "portfolio"
    "resume"
    "footer";
}

.header-container {
  grid-area: header;
  position: sticky;
  top: 0;
  @include section-grid;
}

.header {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo socials navigation";
  align-items: center;
  &__logo {
    grid-area: logo;
  }
  &__socials {
    grid-area: socials;
    a {
      padding-left: $padding-tiny;
    }
  }
  &__navigation {
    grid-area: navigation;
    a:link {
      padding-left: $padding-secondary;
    }
  }
}

.link {
  margin-top: rem(-1 * ($navbar-headbutt));
  padding-bottom: rem($navbar-headbutt);
  display: block;
}

.hero-container {
  grid-area: hero;
  @include section-grid;
  margin-bottom: $margin-section;
  margin-top: $padding-primary;
}

.hero {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 340px;
  grid-template-rows: rem(100) auto;
  grid-template-areas:
    "header image"
    "body image";
  &__header {
    grid-area: header;
    padding-top: rem(50);
  }
  &__body {
    grid-area: body;
    padding-top: rem(50);
    margin-right: rem(32);
    line-height: rem(25);
  }
  &__image {
    grid-area: image;
    width: 340px;
    border-radius: 100%;
  }
}

.portfolio-container {
  grid-area: portfolio;
  @include section-grid;
}

.portfolio {
  padding-top: $margin-section;
  grid-area: content;
  display: flex;
  flex-direction: column;

  &__header {
    padding-bottom: $padding-primary;
  }
  &__table-of-contents {
    padding-bottom: $padding-primary;
    h3 {
      padding-bottom: $padding-secondary;
    }
    ul {
      padding-left: $padding-primary;
    }
    li {
      padding-bottom: $padding-secondary;
    }
  }
}

.resume-container {
  grid-area: resume;
  margin-bottom: 2000px;
  @include section-grid;
}

.resume {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
