// contains page structure, containers and grid system

// Variables
$padding-primary: 32px; // static
$padding-secondary: 16px; // static
$navbar-height: rem(60); // dynamic
$navbar-headbutt: 65; // compare to navbar-height above
$content-max-width: 800px;
$content-min-width: 320px;
$content-margins: 20px;

body {
  display: grid;
  grid-template-columns:
    minmax($content-margins, 1fr)
    minmax($content-min-width, $content-max-width)
    minmax($content-margins, 1fr);
  grid-template-rows: $navbar-height auto;
  grid-template-areas:
    "left-margin header right-margin"
    "left-margin hero right-margin"
    "left-margin portfolio right-margin"
    "left-margin resume right-margin"
    "left-margin footer right-margin";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo socials navigation";
  align-items: center;
  &__logo {
    grid-area: logo;
  }
  &__socials {
    grid-area: socials;
    a {
      padding-left: $padding-secondary;
    }
  }
  &__navigation {
    grid-area: navigation;
    a:link {
      padding-left: $padding-secondary;
    }
  }
}

.hero {
  grid-area: hero;
  img {
    width: 340px;
    border-radius: 100%;
  }
}

.portfolio {
  grid-area: portfolio;
}

.resume {
  grid-area: resume;
}

.footer {
  grid-area: footer;
}
